<section class="timeline">
  <div class="timeline-item left">
    <svg  xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icons-tabler-filled icon-tabler-book"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21.5 5.134a1 1 0 0 1 .493 .748l.007 .118v13a1 1 0 0 1 -1.5 .866a8 8 0 0 0 -7.5 -.266v-15.174a10 10 0 0 1 8.5 .708m-10.5 -.707l.001 15.174a8 8 0 0 0 -7.234 .117l-.327 .18l-.103 .044l-.049 .016l-.11 .026l-.061 .01l-.117 .006h-.042l-.11 -.012l-.077 -.014l-.108 -.032l-.126 -.056l-.095 -.056l-.089 -.067l-.06 -.056l-.073 -.082l-.064 -.089l-.022 -.036l-.032 -.06l-.044 -.103l-.016 -.049l-.026 -.11l-.01 -.061l-.004 -.049l-.002 -13.068a1 1 0 0 1 .5 -.866a10 10 0 0 1 8.5 -.707" /></svg>
    <div class="content">
      <h3 data-i18n="exp/edu.universidad.title"></h3>
      <span class="date" data-i18n="exp/edu.universidad.date"></span>
      <p>Universidad de Cundinamarca</p>
    </div>
  </div>
  
  <div class="timeline-item right">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-briefcase-2" viewBox="2 2 20 19"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M14 2a3 3 0 0 1 3 3v1h2a3 3 0 0 1 3 3v9a3 3 0 0 1 -3 3h-14a3 3 0 0 1 -3 -3v-9a3 3 0 0 1 3 -3h2v-1a3 3 0 0 1 3 -3zm0 2h-4a1 1 0 0 0 -1 1v1h6v-1a1 1 0 0 0 -1 -1"></path></svg>
    <div class="content">
      <h3 data-i18n="exp/edu.rappi.title"></h3>
      <span class="date" data-i18n="exp/edu.rappi.date"></span>
      <p>Apoyo en el área de publicidad digital (ADS)</p>
    </div>
  </div>

  <div class="timeline-item left">
      <svg  xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icons-tabler-filled icon-tabler-book"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21.5 5.134a1 1 0 0 1 .493 .748l.007 .118v13a1 1 0 0 1 -1.5 .866a8 8 0 0 0 -7.5 -.266v-15.174a10 10 0 0 1 8.5 .708m-10.5 -.707l.001 15.174a8 8 0 0 0 -7.234 .117l-.327 .18l-.103 .044l-.049 .016l-.11 .026l-.061 .01l-.117 .006h-.042l-.11 -.012l-.077 -.014l-.108 -.032l-.126 -.056l-.095 -.056l-.089 -.067l-.06 -.056l-.073 -.082l-.064 -.089l-.022 -.036l-.032 -.06l-.044 -.103l-.016 -.049l-.026 -.11l-.01 -.061l-.004 -.049l-.002 -13.068a1 1 0 0 1 .5 -.866a10 10 0 0 1 8.5 -.707" /></svg>
    <div class="content">
      <h3 data-i18n="exp/edu.sena2.title"></h3>
      <span class="date" data-i18n="exp/edu.sena2.date"></span>
      <p>SENA</p>
    </div>
  </div>

  <div class="timeline-item right">
      <svg  xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icons-tabler-filled icon-tabler-book"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21.5 5.134a1 1 0 0 1 .493 .748l.007 .118v13a1 1 0 0 1 -1.5 .866a8 8 0 0 0 -7.5 -.266v-15.174a10 10 0 0 1 8.5 .708m-10.5 -.707l.001 15.174a8 8 0 0 0 -7.234 .117l-.327 .18l-.103 .044l-.049 .016l-.11 .026l-.061 .01l-.117 .006h-.042l-.11 -.012l-.077 -.014l-.108 -.032l-.126 -.056l-.095 -.056l-.089 -.067l-.06 -.056l-.073 -.082l-.064 -.089l-.022 -.036l-.032 -.06l-.044 -.103l-.016 -.049l-.026 -.11l-.01 -.061l-.004 -.049l-.002 -13.068a1 1 0 0 1 .5 -.866a10 10 0 0 1 8.5 -.707" /></svg>
    <div class="content">
      <h3 data-i18n="exp/edu.sena1.title"></h3>
      <span class="date" data-i18n="exp/edu.sena1.date"></span>
      <p>SENA</p>
    </div>
  </div>


  <!-- Puedes seguir agregando más elementos -->
</section>


<style>
    .timeline {
      position: relative;
      width: 100%;
      margin-top: 40px;
    }
    
    .timeline::before {
      content: '';
      position: absolute;
      top: -70px;
      bottom: 0;
      right: 50%;
      width: 8px;
      background: #007BFF;
      border-radius: 10px;
      transform: translateX(50%);
    }
    
    .timeline-item {
      position: relative;
      width: 50%;
    }
    .timeline-item .content::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 5px;
        border-radius: 30px;
        background: linear-gradient(45deg, #ff61c096, #2621ac9c);
        -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
        mask-composite: exclude;
        pointer-events: none;
        z-index: 1;
    }
    .timeline-item .content {
      background-color: #18191bc2;
      background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='0.7' numOctaves='2' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noiseFilter)' opacity='0.15'/></svg>");
      box-shadow: 0 5px 8px rgb(0, 0, 0);
      backdrop-filter: blur(5px);
      padding: 30px 40px;
      border-radius: 30px;
      color: #fff;
      font-family: 'Poppins', sans-serif;
    }
    .timeline-item .content h3 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 600;
    }
    .timeline-item .content span {
      display: block;
      margin: 10px 0;
      font-size: 0.9rem;
      color: #ccc;
    }
    .timeline-item .content p {
      margin: 0;
      font-size: 1rem;
      color: #007BFF;
    }
    .timeline-item.left {
      right: -2%;
      text-align: right;
      margin-bottom: 60px;
    }
    .timeline-item.left svg {
      position: absolute;
      border: 4px solid #fff;
      top: -30px;
      left: -30px;
      width: 24px;
      height: 24px;
      fill: #fff;
      background-color: #007BFF;
      padding: 15px;
      border-radius: 20px;
      box-shadow: 0 5px 8px rgb(0, 0, 0);
      z-index: 2;
    }
    .timeline-item.right {
      left: 48%;
      text-align: left;
      margin-bottom: 60px;
    }
    .timeline-item.right svg {
      position: absolute;
      border: 4px solid #fff;
      top: -30px;
      right: -30px;
      width: 24px;
      height: 24px;
      fill: #fff;
      background-color: #007BFF;
      padding: 15px;
      border-radius: 20px;
      box-shadow: 0 5px 8px rgb(0, 0, 0);
      z-index: 2;
    }

    // Responsive styles
    @media (max-width: 768px) {
      .timeline-item {
        width: 100%;
      }
      .timeline-item.left, .timeline-item.right {
        left: 0;
        right: 0;
        text-align: center;
      }
      .timeline-item.left svg, .timeline-item.right svg {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      .timeline::before {
        right: 0;
        width: 4px;
        transform: translateX(0);
      }
      .timeline-item .content {
        padding: 20px;
      }
      .timeline-item .content h3 {
        font-size: 1.2rem;
      }
      .timeline-item .content span {
        font-size: 0.8rem;
      }
      .timeline-item .content p {
        font-size: 0.9rem;
      }
    }
    @media (max-width: 480px) {
      .timeline {
        display: flex;
        flex-direction: column;
        
      }
    }
</style>